<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title> IDK </title> 
</head>

<body>
    <h3>AAAAAAAAAAAA</h3> 
    <br/>
    <br/>
    <div class="form">
        <form action="game" method="post">
            <input id="action" name="action" type="hidden" value="welcome" />
            <table>
                <tr>
                    <td> NAME: </td>
                    <td><input id="name" name="name"> </td>
                    <td><input type="submit" value="Submit"></td> 
                </tr>
            </table>
        </form>
    </div>
</body>


</html>